BYBIT_ENV=testnet
BYBIT_API_KEY=
BYBIT_API_SECRET=
BYBIT_FIX_API_KEY=
BYBIT_FIX_PRIVATE_KEY_PATH=

DERIBIT_ENV=testnet
DERIBIT_ENABLED=false
DERIBIT_ACCOUNT_ALIAS=deribit-test
DERIBIT_API_KEY=
DERIBIT_API_SECRET=
DERIBIT_FIX_ENABLED=false
DERIBIT_FIX_SENDER_COMP_ID=connector-lab
DERIBIT_MAX_ORDER_USD=100
DERIBIT_MAX_OPEN_USD=500
DERIBIT_MAX_PRICE_DEVIATION_PCT=2
DERIBIT_MAX_OPEN_ORDERS=5
DERIBIT_PLAN_TTL=30s
RUN_MULTI_VENUE_E2E=0
RUN_DERIBIT_READ_TESTS=0
RUN_DERIBIT_TRADING_TESTS=0
RUN_DERIBIT_FIX_TESTS=0
